<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">
    <div class="wrapper-footer">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
      {% include social.html %}
    </div>
<!--
    <div class="footer-col footer-col-1">
      <div class="contact-list-wrapper">
        <ul class="contact-list">
          {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
        {% include social.html %}
      </div>
    </div>

    <div class="footer-col footer-col-2">
      {%- include social.html -%}
    </div>

    <div class="footer-col footer-col-3">
      {% if site.description %}
      <p>{{- site.description | escape -}}</p>
      {% endif %}
    </div>
-->
  </div>


</footer>
