/**
 * Site header
 */
.site-header {
  border-top: 5px solid $background-color-darker;
  border-bottom: 1px solid $line-color;
  min-height: $spacing-unit * 1.865;
  width: $header-width;
  align-self: center;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.intro {
  padding: 0.3em;
  text-align: justify;
}

.portrait {
  width: $portrait-width;
  height: $portrait-height;
  float: left;
  padding-right: 1em;
}

.round-image {
  position: relative;
  overflow: hidden;
  border-radius: 10pt;
}

.site-title {
  @include relative-font-size(2);
  font-weight: 600;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  padding-top: em;

  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    text-decoration: none;
    color: $text-color;
  }
}

.site-nav {
  @include relative-font-size(1.3);
  float: right;
  line-height: $base-line-height * $base-font-size * 2.51;
  font-weight: 600;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $line-color;
    border-radius: 5px;
    text-align: right;

    &:hover {
      display: block;
    }

    .menu-link {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      >svg {
        fill: $line-color;
      }
    }

    .hover-menu .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .trigger {
      display: block;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      border: 1px solid $aqua;


      &:not(:last-child) {
        margin-right: 0;
      }

      margin-left: 10px;

      &:hover {
        border-bottom: 1px solid $aqua;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 0px solid $grey-color-light;
  padding: $spacing-unit 0;
  width: $header-width;
  align-self: center;
  background-color: $background-color-darker;

  height: $footerHeight;
  max-height: $footerHeight;
  overflow: hidden;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;

  font-family: $silkscreen;
  margin-right: 5px;
}

.contact-list-wrapper{
  float: none;
  display: flex;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  margin-right: 5px;
  display:flex;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
  width: $header-width;
  align-self: center;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
